:root {
    --color_primario: #1C9DB3;
    --color_primario_suave: #2F455C;
    --color_font2: #124E73;
    --color_secundario: #D32F2F;
    --color_font: #fff;
    --color_verde: #0B3022;
    --color_amarillo: #FDB00B;
    --color_iconos: #F57C00;
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
    --backgroundButtons: #325F7B;
    --fontServicios: #2B4150
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color_font);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

.header {
    height: var(--altura_header);
    background-color: var(--color_primario);
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 var(--padding_left_right);
}

.menu_hamburguesa {
    display: none;
}

.menu_hamburguesa:checked+.ul_links {
    height: calc(100vh - var(--altura_header));
}

.logo {
    color: var(--color_blanco);
}

.labe_hamburguesa {
    color: var(--color_font);
}

.list_icon {
    color: var(--color_font);
    cursor: pointer;
}

.ul_links {
    width: 100%;
    background-color: var(--color_primario_suave);
    position: absolute;
    top: var(--altura_header);
    left: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 3rem;
    transition: all .3s;

}

#liInicio {
    margin-top: 3rem;

}

.li_links {}

.link {
    font-size: 1.5rem;
    color: var(--color_font);
    font-weight: bold;

}

.logoNavbar {
    border-radius: 50%;
    height: var(--altura_header);
}

.navbar a i {
    font-size: 40px;
    color: var(--color_font);
}

/* Footer  */

.contenedorFooter {
    background-color: var(--color_primario);

}

.copy {
    background-color: #212121;
    color: var(--color_font);
    text-align: center;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

footer {
    display: grid;
    padding: 0 var(--padding_left_right);
    overflow: hidden;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.iframeFooter {
    border-radius: 1rem;
    box-shadow: 4px 4px 4px #21212181;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    padding-bottom: 1rem;
    color: var(--color_font);
}

.info h3 {
    text-align: center;
    padding-bottom: 0.5rem;
}

.info p {
    text-align: left;
}

.footerContacto {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    padding-bottom: 1rem;
    color: var(--color_font);
}

.footerContacto h3 {
    text-align: center;
    padding-bottom: 0.5rem;
}

.footerContacto ul {
    text-align: center;
}

.footerContacto li {
    list-style-type: none;
}

.footerContacto li a {
    text-decoration: none;
    color: var(--color_font);
}

.footerContacto li a:hover{
    color: var(--color_secundario);
    transition: all .3s;
}

.ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    padding-bottom: 1rem;
    color: var(--color_font);
}

.ubicacion h3 {
    text-align: center;
    padding-bottom: 0.5rem;
}

.soloEnMobile {
    width: 100%;
    border: 1px dotted var(--color_font);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* fin footer  */

/* portada  */

.contenedorGenPorada {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.tituloPortada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 2rem;
    color: var(--color_font2);
    margin-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.tituloPortada h1 {
    margin-bottom: 0.5rem;
    line-height: 1;
}

.contenedorImagenPorada img {
    width: 100%;
    height: 100%;
}

.botonesPortada {}

.botonesPortada button {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.botonPortada1 button {
    margin-top: 0.5rem !important;
    background-color: var(--backgroundButtons);
    color: var(--color_font);
    border: 1px solid var(--backgroundButtons);

}

.botonPortada1 button:Hover {
    background-color: var(--color_font);
    color: var(--backgroundButtons);

}

.botonPortada2 button {
    margin-top: 0.5rem !important;
    background-color: var(--backgroundButtons);
    color: var(--color_font);
    border: 1px solid var(--backgroundButtons);

}

.botonPortada2 button:hover {
    background-color: var(--color_font);
    color: var(--backgroundButtons);
}

/* fin portada  */

/* propuesta de valor  */

.propuestaDeValor {
    background-color: var(--backgroundButtons);
    padding: 0 var(--padding_left_right);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.propuestaDeValor h2 {
    color: var(--color_font);
    text-align: left;
    padding-bottom: 1rem;
}

.valores {
    padding-bottom: 0.5rem;
    color: var(--color_font);
}

/* fin propuesta de valor  */

/* seccion servicios */

.seccionServicios {
    padding: 0 var(--padding_left_right);
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #F6F0E4;
}

.contenedorGeneralServicios {
    color: var(--color_font2);
}

.contenedorGeneralServicios h2 {
    color: var(--color_font2);
    text-align: center;
}

.contenedorServicios {
    display: grid;
    gap: 20px;
    padding: 20px;
}

.servicios {
    display: flex;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    align-items: flex-start;
}

.numero {
    background-color: #e7e7e7;
    color: var(--fontServicios);
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.contenido {
    color: var(--fontServicios);
}

/* fin seccion servicios */

/* seccion testimoniales */

.sectionTestimoniales {
    position: relative;
    background-image: url('../img/juntaBackground.png');
    background-size: cover;
    background-position: center;
    padding: 3rem 1rem;
    color: white;
    text-align: center;
}

.sectionTestimoniales::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eef0eca8;
    z-index: 1;
}

.contenedorGeneralTestimoniales {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;

}

.contenedorGeneralTestimoniales h2 {
    color: #124E73;
}

.testimoniales {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1.5rem;
    border-radius: 10px;
    max-width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.testimoniales h3 {
    color: var(--backgroundButtons);
    text-align: left;
    padding-bottom: 0.5rem;
}

.testimoniales p {
    color: var(--backgroundButtons);
    text-align: left;
}


/* fin testimoniales */

/* seccion carousel  */

.carousel-container {
    width: 100%;
    overflow: hidden;
    /* Oculta los logos que salen del contenedor */
    background-color: var(--color_font2);
    /* Fondo opcional */
    padding: 20px 0;
}

.carousel-track {
    display: flex;
    animation: scroll 20s linear infinite;
    /* Animación de desplazamiento continuo */
}

.carousel-slide {
    min-width: 200px;
    /* Tamaño del contenedor de cada logo */
    margin: 0 20px;
    /* Espacio entre logos */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-slide img {
    max-width: 100px;
    /* Tamaño máximo del logo */
    object-fit: contain;
    border-radius: 2rem;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
        /* Comienza en la posición original */
    }

    100% {
        transform: translateX(-100%);
        /* Desplaza todo el contenedor hacia la izquierda */
    }
}

/* fin carousel  */

/* seccion contacto  */

.contenedorGeneralContacto {
    padding: 2rem var(--padding_left_right)
}

.contacto {
    text-align: center;
    color: var(--color_font2);
}

.contacto h2 {
    margin-bottom: 0.5rem;
}

.contacto img {
    width: 100%;
    border-radius: 10px;
    display: none;
}

.contacto ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.contacto ul li {
    background-color: var(--color_primario);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 100%;
}

.contacto ul li a i {
    color: var(--color_font);
}

.contenedorForm {}

.contenedorForm img {
    width: 100%;
    display: none;
}

.soloEnMobileContacto {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--color_font2);
}

/* fin seccion contacto */

/* /////////////////////////////////////////
////////////////RESPONSIVE/////////////////
////////////////////////////////////////*/

/* @media (min-width: 576px) {
    Estilos para móviles grandes - no esta en uso por el momento
}   */

@media (min-width:768px) {
    #liInicio {
        margin-top: 0;
    }

    /* navbar */
    .labe_hamburguesa {
        display: none;
    }

    .ul_links {
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
        background-color: transparent;
    }

    .link {
        font-size: 1.2rem;
        transition: all .3s;
        padding: .2rem .7rem;
    }

    .link:hover {
        color: #C2163E;
    }

    /* footer  */
    footer {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    /* portada  */

    .tituloPortada {
        padding-left: 4rem;
    }

    .tituloPortada h1 {
        font-size: 2.5rem;
    }

    /* propuesta valor  */

    .propuestaDeValor {
        padding: 0 4rem;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
    }

    .propuestaDeValor h2 {
        font-size: 2rem;
        text-align: left;
    }

    .conGenvalores {}

    .valores {
        margin-bottom: 0.5rem;
    }

    .valores h3 {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    .valores p {
        text-align: left;
    }

    /* servicios  */

    .seccionServicios {
        padding: 0 4rem;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
    }

    .contenedorGeneralServicios {}

    .contenedorGeneralServicios h2 {
        font-size: 2rem;
    }

    .contenedorServicios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* testimoniales  */
    .sectionTestimoniales {
        padding: 0 4rem;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
    }

    .contenedorGeneralTestimoniales {}

    .contenedorGeneralTestimoniales h2 {
        font-size: 2rem;
    }

    .contenedorTestimoniales {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .testimoniales {
        max-width: 80%;
    }

    /* contacto  */

    .contenedorGeneralContacto {
        padding: 0 4rem;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
    }

    .contacto h2 {
        font-size: 2rem;
    }

    .contacto ul li {
        display: flex;
        font-size: 1.3rem;
    }
}

@media (min-width: 992px) {

    * {
        font-size: 18px;
    }

    .soloEnMobile {
        display: none;
    }

    footer {
        grid-template-columns: repeat(3, 1fr);
    }

    .info h3 {
        text-align: left;
    }

    .ubicacion iframe {
        height: auto;
    }

    .ubicacion h3{
        text-align: right;
    }

    /* portada  */

    .tituloPortada {
        padding-left: 6rem;
        padding-right: 1rem;
    }

    .tituloPortada h1 {
        font-size: 2.5rem;
    }

    /* propuesta valor  */

    .propuestaDeValor {
        padding: 0 6rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .propuestaDeValor h2 {
        font-size: 2rem;
        text-align: center;
    }

    .conGenvalores {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .valores {
        margin-bottom: 0.5rem;
    }

    .valores h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    .valores p {
        text-align: left;
    }

    /* servicios  */

    .seccionServicios {
        padding: 0 6rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .contenedorGeneralServicios {}

    .contenedorGeneralServicios h2 {
        font-size: 2rem;
    }

    .contenedorServicios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* testimoniales  */
    .sectionTestimoniales {
        padding: 0 6rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .contenedorGeneralTestimoniales {}

    .contenedorGeneralTestimoniales h2 {
        font-size: 2rem;
    }

    .contenedorTestimoniales {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .testimoniales {
        max-width: 100%;
        min-height: 18rem;
    }

    /* contacto  */

    .contenedorGeneralContacto {
        padding: 0 6rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .contacto h2 {
        font-size: 2rem;
    }

    .contacto ul li {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .contacto ul li a i {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    
    /* portada  */

    .tituloPortada {
        padding-left: 8rem;
        padding-right: 2rem;
    }

    .tituloPortada h1 {
        font-size: 3rem;
    }

    /* propuesta valor  */

    .propuestaDeValor {
        padding: 0 8rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .propuestaDeValor h2 {
        font-size: 2.5rem;
        text-align: center;
    }

    .conGenvalores {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }

    .valores {
        margin-bottom: 0.5rem;
    }

    .valores h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    .valores p {
        text-align: left;
    }

    /* servicios  */

    .seccionServicios {
        padding: 0 12rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .contenedorGeneralServicios {}

    .contenedorGeneralServicios h2 {
        font-size: 2.5rem;
    }

    .contenedorServicios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .contenido h3{
        font-size: 1.5rem;
    }

    /* testimoniales  */
    .sectionTestimoniales {
        padding: 0 8rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .contenedorGeneralTestimoniales {}

    .contenedorGeneralTestimoniales h2 {
        font-size: 2.5rem;
    }

    .contenedorTestimoniales {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .testimoniales {
        max-width: 100%;
        min-height: 18rem;
    }
    .testimoniales h3{
        font-size:1rem;
    }

    /* contacto  */

    .contenedorGeneralContacto {
        padding: 0 8rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .contacto h2 {
        font-size: 2.5rem;
    }

    .contacto ul li {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .contacto ul li a i {
        font-size: 20px;
    }

    .contenedorForm img{
        display: block;
        height: 100%;
    }
    .contenedorFormulario{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1600px) {
    
    *{
        font-size: 24px;
    }
    
    /* portada  */

    .tituloPortada {
        padding-left: 12rem;
        padding-right: 3rem;
    }

    .tituloPortada h1 {
        font-size: 3.3rem;
        margin-bottom: 1.5rem;
    }
    .tituloPortada p{
        margin-bottom: 1rem;
    }

    /* propuesta valor  */

    .propuestaDeValor {
        padding: 0 12rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .propuestaDeValor h2 {
        font-size: 3rem;
        text-align: center;
    }

    .conGenvalores {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }

    .valores {
        margin-bottom: 0.5rem;
    }

    .valores h3 {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    .valores p {
        text-align: left;
    }

    /* servicios  */

    .seccionServicios {
        padding: 0 12rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .contenedorGeneralServicios {}

    .contenedorGeneralServicios h2 {
        font-size: 3rem;
    }

    .contenedorServicios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .contenido h3{
        font-size: 1.1rem;
    }

    /* testimoniales  */
    .sectionTestimoniales {
        padding: 0 12rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .contenedorGeneralTestimoniales {}

    .contenedorGeneralTestimoniales h2 {
        font-size: 3rem;
    }

    .contenedorTestimoniales {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.3rem;
    }

    .testimoniales {
        max-width: 100%;
        min-height: 18rem;
    }
    .testimoniales h3{
        font-size:1.1rem;
    }

    /* contacto  */

    .contenedorGeneralContacto {
        padding: 0 12rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .contacto h2 {
        font-size: 3rem;
    }

    .contacto ul li {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      
    }

    .contacto ul li a i {
        font-size: 26px;
    }

    .contenedorForm img{
        display: block;
        height: 100%;
    }
    .contenedorFormulario{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}